<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Price compaeison</title>
        <link rel="stylesheet" href="/static/home1.css" >
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <div class="nav-links">
                    <label>Home</label>
                    <label>about</label>
                    <a href='{{ url_for("index") }}'><label>logout</label></a>
                </div>
                <div class="notify">
                    <form action='{{ url_for("notify_page")}}' method="post">
                        <a href='{{ url_for("notify_page")}}'><button id="price-tracker-btn" type="submit" >Price Tracker</button></a>
                        <input type="hidden" name="email" value="{{ email }}">
                    </form>
                </div>
            </div>
            <div class="welcome-note">
                <p>Welcome to the <br>price comparison<br> </p>
            </div> 
            <form class="search" action='{{ url_for("report")}}' method="post"  >
                <input type="search" name ="query" placeholder="Search here..." required>
                <button type="submit" value="Search">Search</button>
            </form>  
            <div class="box-container">
                <ul class="custom-bullet">
                    Important:
                    <ul class="custom-bullet">
                        <li>This tool is currently optimized for electronic devices. Searches for other product categories might return inaccurate prices or no results at all.</li>
                        <li>For best results, be specific! This is just a machine which is not associated with any such intelligence, so it relies heavily on the details you provide. Searching by just the product name can lead to incorrect matches.</li>
                        <li>Include as many specifications as you know in your search. For example: To find the price of the iPhone 15 Pro Max with 12GB of RAM and 512GB of storage, search for "iPhone 15 Pro Max 12GB 512GB".</li>
                        <li>Here's how to get the most accurate price:</li>
                        <ul class="custom-bullet">
                            <li class="custom-tick">Iphone 15 Pro Max 12Gb 512gb</li>
                            <li class="custom-wrong">Iphone 15 Pro Max</li>
                        </ul>
                    </ul>
                </ul>
            </div>
        </div>
    </body>
</html>