<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Search Bar in HTML and CSS</title>
        <link rel="stylesheet" href="/static/report1.css" >
    </head>
    <body>
        <div class="navbar">
            <div class="nav-links">
                <a href='{{ url_for("home") }}'><label>Home</label></a>
                <label>about</label>
                <a href='{{ url_for("index") }}'><label>logout</label></a>
            </div>
            <div class="notify">
                <form action='{{ url_for("notify_page")}}' method="post">
                    <button id="price-tracker-btn" type="submit" >Price Tracker</button>
                    <input type="hidden" name="email" value="{{ email }}">
                </form>
            </div>
        </div>
        <div class="container">
            <div class="box" id="box1">
                <div class="navbar-amazon">
                    <img src="/static/Amazon_logo.png" class="img-content" alt="amazon-logo" width="160" height="60">
                </div>
                <div class="content">
                    {% if amazon_title %}
                      <p>Product Name<br>{{ amazon_title }}</p>
                      <p>Price<br>{{ amazon_price }}</p>
                      <p>Product url<br><br><a href={{ amazon_product_url }}, target="_blank"><img src="/static/Amazon_icon.png" alt="Product link"></a><img src="/static/external_link_icon.png"></p>
                      {% else %}
                      <p><img src="/static/no_product_found.png"></img></p>
                    {% endif %}
                  </div>
            </div>
            <div class="box" id="box2">
                <div class="navbar-flipkart">
                    <img src="/static/flipkartlogo1.png" class="img-content" alt="flipkart-logo" width="160" height="60">
                </div>
                <div class="content">
                    {% if flipkart_title %}
                    <p>Product Name<br> {{ flipkart_title }}</p>
                    <p>Price<br>{{ flipkart_price }}</p>
                    <p>Product url<br><br><a href={{ flipkart_product_url }}, target="_blank"><img src="/static/flipkart_icon.png" alt="Product link"></a><img src="/static/external_link_icon1.png"></p>
                    {% else %}
                    <p><img src="/static/no_product_found.png"></img></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>